

<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>::고객센터 제휴문의 || 더페스티벌</title>
    <meta charset='UTF-8'/>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta property="fb:app_id" content="161751263864075" />
    <meta property="og:url" content="https://www.thefestival.co.kr/customer/partner_write.html" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="::고객센터 제휴문의" />
    <meta property="og:image" content="https://www.thefestival.co.kr/image/gnb/logo.gif">
    <meta property="og:description" content="대한민국 NO1 축제포털 더페스티벌, 축제정보, 축제순위, 리뷰, 뉴스, 동영상, 포토, 커뮤니티 제공.">

    <meta name="twitter:card" content="thefestival_image" />
    <meta name="twitter:url" content="https://www.thefestival.co.kr/customer/partner_write.html" />
    <meta name="twitter:title" content="::고객센터 제휴문의" />
    <meta name="twitter:description" content="대한민국 NO1 축제포털 더페스티벌, 축제정보, 리뷰, 뉴스, 동영상, 포토, 커뮤니티 제공." />
    <meta name="twitter:image" content="https://www.thefestival.co.kr/image/gnb/logo.gif" />
    <meta name="twitter:site" content="@thefestival3" />
    <meta name="twitter:creator" content="@thefestival3" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="revisit-after" content="1 days" />
    <meta name="allow-search" content="index,follow,all" />
    <meta name="robots" content="all,index,follow" />
    <meta name="title" content="더페스티벌::대한민국 NO.1 축제포털사이트" />
    <meta name="subject" content="더페스티벌::대한민국 NO.1 축제포털사이트" />
    <meta name="description" content="대한민국 NO1 축제포털 더페스티벌, 축제정보, 리뷰, 뉴스, 동영상, 포토, 커뮤니티 제공." />
    <meta name="keywords" content="축제포털,축제포탈,축제전문미디어,축제뉴스,축제커뮤니티,여행,국내여행,지역문화,페스티벌,페스티발,카니발,한국관광공사,한국방문의해,봄축제,여름축제,가을축제,겨울축제,특산물,숙박,펜션,맛집,관광,관광지,행사,이벤트,문화제,소셜마케팅,지자체,문화체육관광부,문화부,경기관광공사,보령머드축제,안동탈춤축제,강진청자문화제,진주남강유등축제,춘천국제마임축제,화천산천어축제,양양송이축제,금산인삼축제,천안흥타령축제,김제지평선축제,함평나비축제, 하동야생차문화축제,가평자라섬재즈페스티벌,이천쌀문화축제,영동난계국악축제,강경젓갈축제,무주반딧불축제,남원춘향제,진도신비의바닷길축제,문경찻사발축제,풍기인삼축제,7080충장축제,부산자갈치축제,광안리어방축제,해운대모래축제,대구약령시한방축제,대전효문화뿌리축제,인천소래포구축제,광주김치대축제,울산고래축제,연천구석기축제,수원화성문화제,과천한마당축제,인제빙어축제,평창효석문화제,태백산눈축제,충주세계무술축제,한산모시문화제,순창장류축제,담양대나무축제,영암왕인문화제,고령대가야체험축제,봉화은어축제,경주한국의술과떡축제,포항불빛축제,산청지리산한방약초축제,통영한산대첩축제,김해분청도자기축제,창원가고파국화축제,제주정월대보름축제,평창송어축제,축제어플,주말여행,축제예약,축제교통편,축제지도,축제달력" />
    <link rel="Shortcut Icon" href="https:////www.thefestival.co.kr/img/festival_icon.ico">
    <link rel="stylesheet" type="text/css" href="/css/common.css?v=201909" />

    <link rel="stylesheet" type="text/css" href="/css/header.css?v=201909" />


    <link rel="stylesheet" type="text/css" href="/css/customer.css" />
    <script language="javascript" src="/js/common.js?v=201909"></script>
    <script language="javascript" src="/js/sideview.js?v=201909"></script>
    <script language="javascript" src="/js/dialog_pop.js?v=201909"></script>
    <script language="javascript" src="/js/ajax.js"></script>
    <script language="javascript" src="/js/jquery-1.6.2.min.js"></script>
    <script language="javascript" src="/js/menu.js"></script>

    <script type="text/javascript">
        ddsmoothmenu.init({
            mainmenuid: 'gnb_nav',
            classname: 'nav'
        })
    </script>
</head>

<body>

<div class="nns_set">

    <div class="bookmark"><font color="#f033a3">+</font><a href="javascript:bookMark();">더페스티벌 즐겨찾기 추가</a></div>
    <div class="set">
        <div class="login" style="display:;">
            <ul class="login_ul">
                <li class="right1"><font color="#f033a3">김창민</font>님</li>
                <li class="right_bar"><img src="/image/gnb/sear_bar.gif" width="1" height="12" /></li>
                <li class="right"><a href="/mypage/"><img src="/image/gnb/mypage_txt.gif" width="45" height="13" border="0" /></a></li>
                <li class="right_bar"><img src="/image/gnb/sear_bar.gif" width="1" height="12" /></li>
                <li class="right"><a href="/member/loginPS.html?logout=1"><img src="/image/gnb/logout_txt.gif" width="35" height="13" border="0" /></a></li>
                <li class="right_bar"><img src="/image/gnb/sear_bar.gif" width="1" height="12" /></li>
                <li class="right"><a href="/customer/"><img src="/image/gnb/customer_txt.gif" width="36" height="13" border="0" /></a></li>
                <li class="right_bar"><img src="/image/gnb/sear_bar.gif" width="1" height="12" /></li>
                <li class="right"><a href="/customer/sitemap.html"><img src="/image/gnb/site_txt.gif" width="41" height="13" border="0" /></a></li>
            </ul>
        </div>
    </div>
</div><link rel="stylesheet" href="/editor/css/editor.css" type="text/css"  charset="utf-8"/>
<link rel="stylesheet" href="/css/editor.css" type="text/css"  charset="utf-8"/>
<script src="/editor/js/editor.js" type="text/javascript" charset="utf-8"></script>
<script src="/editor/js/editor_sample.js" type="text/javascript" charset="utf-8"></script>
<!-- WYSIWYG Editor Javascript -->

<script type="text/javascript">
    function saveContent() {
        Editor.save();
    }

    function validForm(editor) {

        if($tx('tx_article_title').value == ""){
            dialog.dialogMove=false;
            dialog.Dialog("/dialog/_dialog.html?msg="+encodeURI('제목을 입력하세요.'), '450', '175');
            return false;
        }

        var _validator = new Trex.Validator();
        var _content = editor.getContent();
        if(!_validator.exists(_content)) {
            dialog.dialogMove=false;
            dialog.Dialog("/dialog/_dialog.html?msg="+encodeURI('내용을 입력하세요.'), '450', '175');
            return false;
        }
        return true;
    }

    function setForm(editor) {
        var _formGen = editor.getForm();

        var _content = editor.getContent();
        _formGen.createField(
            tx.textarea({
                'name': "tx_content",
                'style': { 'display': "none" }
            },
            _content)
        );

        var _attachments = editor.getAttachments('image');
        for(var i=0,len=_attachments.length;i<len;i++) {
            if (_attachments[i].existStage) {
                alert(_attachments[i].data);
                _formGen.createField(
                    tx.input({
                        'type': "hidden",
                        'name': 'tx_attach_image',
                        'value': _attachments[i].data.imageurl
                    })
                );
            }
        }

        return true;
    }

    function find_festival() {
        dialog.dialogMove=false;
        dialog.Dialog("/dialog/find_festival.html", '670', '250');
        return false;
    }
</script>

<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            <!----- 상단 ----->
            <div style="height:10px;"></div>
            <table id="customer_top" width="960" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td class="menu1" align="right"><a href="/">홈으로</a>|<a href="/mypage/">마이페이지</a>|<a href="/info/festival/">축제정보센터</a>|<a href="/news/">축제뉴스</a>|<a href="/community/review/">축제커뮤니티</a>|<a href="/marketing/business/">축제마케팅센터</a></td>
                </tr>
                <tr>
                    <td><a href="/"><img src="/image/customer/topLogo.gif" border="0" alt="더페스티벌" /></a> <a href="/customer/"><img src="/image/customer/customer_logo.gif" border="0" alt="고객센터" /></a></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
            <table id="customer_top"  width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td height="4" bgcolor="#ed247e"></td>
                </tr>
            </table>
            <!----- 상단 끝 ----->
            <!----- 주요 ----->
            <table id="content" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        <table width="100%" height="70" bgcolor="#d8e9ea" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td>
                                    <table width="960" align="center" cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                            <td><img src="/image/customer/partner_text.gif" border="0" alt="신고센터" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="height:20px;"></div>
                        <table class="customer_input" width="960" align="center" cellspacing="0" cellpadding="0" border="0">
                            <form name="tx_editor_form" id="tx_editor_form" action="/customer/partnerPS.html" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="idx" id="idx" value="">
                                <input type="hidden" name="mode" id="mode" value="insert">
                                <input type="hidden" name="cate" id="cate" value="faq">
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td class="txtH"><img src="/image/customer/inputTitle01.gif" border="0" alt="제목" /></td>
                                    <td class="txtInput">
                                        <input type="text" name="tx_article_title" id="tx_article_title" style="border:1px solid #cccccc; width:616px; height:17px;" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td class="txtH"><img src="/image/customer/inputTitle02.gif" border="0" alt="상세설명" /></td>
                                    <td>
                                        <!----- 에디터 영역 ----->
                                        <!-- WYSIWYG Editor -->
                                        <div class="body">
                                            <div class="wrapper">
                                                <!-- 에디터 컨테이너 시작 -->
                                                <div id="tx_trex_container" class="tx-editor-container">
                                                    <!-- 사이드바 -->
                                                    <div id="tx_sidebar" class="tx-sidebar"><div class="tx-sidebar-boundary">
                                                        <!-- 사이드바 / 첨부 -->
                                                        <ul class="tx-bar tx-bar-left tx-nav-attach">
                                                            <!-- 이미지 첨부 버튼 시작 -->
                                                            <!--
                                                                @decsription
                                                                <li></li> 단위로 위치를 이동할 수 있다.
                                                            -->
                                                            <li class="tx-list">
                                                                <div unselectable="on" id="tx_image" class="tx-image tx-btn-trans">
                                                                    <a href="javascript:;" title="사진" class="tx-text">사진</a>
                                                                </div>
                                                            </li>
                                                            <!-- 이미지 첨부 버튼 끝 -->
                                                            <li class="tx-list">
                                                                <div unselectable="on" id="tx_media" class="tx-media tx-btn-trans">
                                                                    <a href="javascript:;" title="외부컨텐츠" class="tx-text">외부컨텐츠</a>
                                                                </div>
                                                            </li>
                                                            <!--
                                                            <li class="tx-list tx-list-extra">
                                                            <ul class="tx-extra-menu tx-menu" style="left:-48px;" unselectable="on">
                                                                    @decsription
                                                                    일부 버튼들을 빼서 레이어로 숨기는 기능을 원할 경우 이 곳으로 이동시킬 수 있다.
                                                                <div unselectable="on" class="tx-btn-nlrbg tx-extra">
                                                                    <a href="javascript:;" class="tx-icon" title="버튼 더보기">버튼 더보기</a>
                                                                </div>
                                                            </ul>
                                                        </li>
                                                        -->
                                                        </ul>
                                                        <li class="tx-list">
                                                            <div style="padding-top:5px; padding-right:20px; padding-left:5px;">&nbsp;
                                                                <a href="javascript:;" onclick="photo_disk();" title="포토디스트">포토디스크</a>
                                                            </div>
                                                        </li>
                                                        <li class="tx-list">
                                                            <div style="padding-top:5px; padding-right:20px;">
                                                                <a href="javascript:;" onclick="movie_disk();" title="동영상">동영상</a>
                                                            </div>
                                                        </li>
                                                        <li class="tx-list">
                                                            <div style="padding-top:5px">
                                                                <!--a href="javascript:;" onclick="alert('테스트 중');" title="지도">지도</a-->
                                                            </div>
                                                        </li>
                                                        <li class="tx-list">
                                                            <div style="padding-left:210px; padding-top:5px">
                                                                <a href="javascript:;" onclick="buy_ie6();" title="글쓰기가 안될때 해결방법">※ 글쓰기가 안될때 해결방법</a>
                                                            </div>
                                                        </li>
                                                        <!-- 사이드바 / 우측영역 -->
                                                        <ul class="tx-bar tx-bar-right tx-nav-opt">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="tx-switchtoggle" id="tx_switchertoggle">
                                                                    <a href="javascript:;" title="에디터 타입">에디터</a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </div>

                                                    <div id="tx_toolbar_basic" class="tx-toolbar tx-toolbar-basic"><div class="tx-toolbar-boundary">
                                                        <ul class="tx-bar tx-bar-left">
                                                            <li class="tx-list">
                                                                <div id="tx_fontfamily" unselectable="on" class="tx-slt-70bg tx-fontfamily">
                                                                    <a href="javascript:;" title="글꼴">굴림</a>
                                                                </div>
                                                                <div id="tx_fontfamily_menu" class="tx-fontfamily-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                        </ul>
                                                        <ul class="tx-bar tx-bar-left">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="tx-slt-42bg tx-fontsize" id="tx_fontsize">
                                                                    <a href="javascript:;" title="글자크기">9pt</a>
                                                                </div>
                                                                <div id="tx_fontsize_menu" class="tx-fontsize-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left tx-group-font">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-lbg 	tx-bold" id="tx_bold">
                                                                    <a href="javascript:;" class="tx-icon" title="굵게 (Ctrl+B)">굵게</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-underline" id="tx_underline">
                                                                    <a href="javascript:;" class="tx-icon" title="밑줄 (Ctrl+U)">밑줄</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-italic" id="tx_italic">
                                                                    <a href="javascript:;" class="tx-icon" title="기울임 (Ctrl+I)">기울임</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-strike" id="tx_strike">
                                                                    <a href="javascript:;" class="tx-icon" title="취소선 (Ctrl+D)">취소선</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-slt-tbg 	tx-forecolor" style="background-color:#5c7fb0;" id="tx_forecolor">
                                                                    <a href="javascript:;" class="tx-icon" title="글자색">글자색</a>
                                                                    <a href="javascript:;" class="tx-arrow" title="글자색 선택">글자색 선택</a>
                                                                </div>
                                                                <div id="tx_forecolor_menu" class="tx-menu tx-forecolor-menu tx-colorpallete" unselectable="on"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-slt-brbg 	tx-backcolor" style="background-color:#5c7fb0;" id="tx_backcolor">
                                                                    <a href="javascript:;" class="tx-icon" title="글자 배경색">글자 배경색</a>
                                                                    <a href="javascript:;" class="tx-arrow" title="글자 배경색 선택">글자 배경색 선택</a>
                                                                </div>
                                                                <div id="tx_backcolor_menu" class="tx-menu tx-backcolor-menu tx-colorpallete" unselectable="on"></div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left tx-group-align">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-lbg 	tx-alignleft" id="tx_alignleft">
                                                                    <a href="javascript:;" class="tx-icon" title="왼쪽정렬 (Ctrl+,)">왼쪽정렬</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-aligncenter" id="tx_aligncenter">
                                                                    <a href="javascript:;" class="tx-icon" title="가운데정렬 (Ctrl+.)">가운데정렬</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-alignright" id="tx_alignright">
                                                                    <a href="javascript:;" class="tx-icon" title="오른쪽정렬 (Ctrl+/)">오른쪽정렬</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-rbg 	tx-alignfull" id="tx_alignfull">
                                                                    <a href="javascript:;" class="tx-icon" title="양쪽정렬">양쪽정렬</a>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left tx-group-tab">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-lbg 	tx-indent" id="tx_indent">
                                                                    <a href="javascript:;" title="들여쓰기 (Tab)" class="tx-icon">들여쓰기</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-rbg 	tx-outdent" id="tx_outdent">
                                                                    <a href="javascript:;" title="내어쓰기 (Shift+Tab)" class="tx-icon">내어쓰기</a>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left tx-group-list">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="tx-slt-31lbg tx-lineheight" id="tx_lineheight">
                                                                    <a href="javascript:;" class="tx-icon" title="줄간격">줄간격</a>
                                                                    <a href="javascript:;" class="tx-arrow" title="줄간격">줄간격 선택</a>
                                                                </div>
                                                                <div id="tx_lineheight_menu" class="tx-lineheight-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="tx-slt-31rbg tx-styledlist" id="tx_styledlist">
                                                                    <a href="javascript:;" class="tx-icon" title="리스트">리스트</a>
                                                                    <a href="javascript:;" class="tx-arrow" title="리스트">리스트 선택</a>
                                                                </div>
                                                                <div id="tx_styledlist_menu" class="tx-styledlist-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left tx-group-etc">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-lbg 	tx-emoticon" id="tx_emoticon">
                                                                    <a href="javascript:;" class="tx-icon" title="이모티콘">이모티콘</a>
                                                                </div>
                                                                <div id="tx_emoticon_menu" class="tx-emoticon-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-link" id="tx_link">
                                                                    <a href="javascript:;" class="tx-icon" title="링크 (Ctrl+K)">링크</a>
                                                                </div>
                                                                <div id="tx_link_menu" class="tx-link-menu tx-menu"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-specialchar" id="tx_specialchar">
                                                                    <a href="javascript:;" class="tx-icon" title="특수문자">특수문자</a>
                                                                </div>
                                                                <div id="tx_specialchar_menu" class="tx-specialchar-menu tx-menu"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-table" id="tx_table">
                                                                    <a href="javascript:;" class="tx-icon" title="표만들기">표만들기</a>
                                                                </div>
                                                                <div id="tx_table_menu" class="tx-table-menu tx-menu" unselectable="on">
                                                                    <div class="tx-menu-inner">
                                                                        <div class="tx-menu-preview"></div>
                                                                        <div class="tx-menu-rowcol"></div>
                                                                        <div class="tx-menu-deco"></div>
                                                                        <div class="tx-menu-enter"></div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-rbg 	tx-horizontalrule" id="tx_horizontalrule">
                                                                    <a href="javascript:;" class="tx-icon" title="구분선">구분선</a>
                                                                </div>
                                                                <div id="tx_horizontalrule_menu" class="tx-horizontalrule-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-lbg 	tx-textbox" id="tx_textbox">
                                                                    <a href="javascript:;" class="tx-icon" title="글상자">글상자</a>
                                                                </div>
                                                                <div id="tx_textbox_menu" class="tx-textbox-menu tx-menu"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-quote" id="tx_quote">
                                                                    <a href="javascript:;" class="tx-icon" title="인용구 (Ctrl+Q)">인용구</a>
                                                                </div>
                                                                <div id="tx_quote_menu" class="tx-quote-menu tx-menu" unselectable="on"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-bg 	tx-background" id="tx_background">
                                                                    <a href="javascript:;" class="tx-icon" title="배경색">배경색</a>
                                                                </div>
                                                                <div id="tx_background_menu" class="tx-menu tx-background-menu tx-colorpallete" unselectable="on"></div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-rbg 	tx-dictionary" id="tx_dictionary">
                                                                    <a href="javascript:;" class="tx-icon" title="사전">사전</a>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <ul class="tx-bar tx-bar-left tx-group-undo">
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-lbg 	tx-undo" id="tx_undo">
                                                                    <a href="javascript:;" class="tx-icon" title="실행취소 (Ctrl+Z)">실행취소</a>
                                                                </div>
                                                            </li>
                                                            <li class="tx-list">
                                                                <div unselectable="on" class="		 tx-btn-rbg 	tx-redo" id="tx_redo">
                                                                    <a href="javascript:;" class="tx-icon" title="다시실행 (Ctrl+Y)">다시실행</a>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                    </div>
                                                    <!-- 툴바 - 기본 끝 -->
                                                    <!-- 툴바 - 더보기 시작 -->
                                                </div>
                                                <!-- 툴바 - 더보기 끝 -->
                                                <!-- 편집영역 시작 -->
                                                <!-- 에디터 Start -->
                                                <div id="tx_canvas" class="tx-canvas">
                                                    <div id="tx_loading" class="tx-loading"><div><img src="/editor/images/icon/loading2.png?rv=1.0.1" width="113" height="21" align="absmiddle"/></div></div>
                                                    <div id="tx_canvas_wysiwyg_holder" class="tx-holder" style="display:block;">
                                                        <iframe id="tx_canvas_wysiwyg" name="tx_canvas_wysiwyg" allowtransparency="true" frameborder="0"></iframe>
                                                    </div>
                                                    <div class="tx-source-deco">
                                                        <div id="tx_canvas_source_holder" class="tx-holder">
                                                            <textarea id="tx_canvas_source" rows="30" cols="30"></textarea>
                                                        </div>
                                                    </div>
                                                    <div id="tx_canvas_text_holder" class="tx-holder">
                                                        <textarea id="tx_canvas_text" rows="30" cols="30"></textarea>
                                                    </div>
                                                </div>
                                                <!-- 높이조절 Start -->
                                                <div id="tx_resizer" class="tx-resize-bar">
                                                    <div class="tx-resize-bar-bg"></div>
                                                    <img id="tx_resize_holder" src="/editor/images/icon/btn_drag01.gif" width="58" height="12" unselectable="on" alt="" />
                                                </div>

                                                <!-- 편집영역 끝 -->
                                                <!-- 첨부박스 시작 -->
                                                <!-- 파일첨부박스 Start -->
                                                <div id="tx_attach_div" class="tx-attach-div">
                                                    <div id="tx_attach_txt" class="tx-attach-txt">파일 첨부</div>
                                                    <div id="tx_attach_box" class="tx-attach-box">
                                                        <div class="tx-attach-box-inner">
                                                            <div id="tx_attach_preview" class="tx-attach-preview"><p></p><img src="/editor/images/icon/pn_preview.gif" width="147" height="108" unselectable="on"/></div>
                                                            <div class="tx-attach-main">
                                                                <div id="tx_upload_progress" class="tx-upload-progress"><div>0%</div><p>파일을 업로드하는 중입니다.</p></div>
                                                                <ul class="tx-attach-top">
                                                                    <li id="tx_attach_delete" class="tx-attach-delete"><a>전체삭제</a></li>
                                                                    <li id="tx_attach_size" class="tx-attach-size">
                                                                        파일: <span id="tx_attach_up_size" class="tx-attach-size-up"></span>/<span id="tx_attach_max_size"></span>
                                                                    </li>
                                                                    <li id="tx_attach_tools" class="tx-attach-tools">
                                                                    </li>
                                                                </ul>
                                                                <ul id="tx_attach_list" class="tx-attach-list"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 첨부박스 끝 -->
                                            </div>
                                            <!-- 에디터 컨테이너 끝 -->
                                        </div>
                                        </div>
                                        <!-- 에디터 끝 -->									<!----- 에디터 영역 끝 ----->

                                        <script type="text/javascript">
                                            // <![CDATA[

                                                /*-------- 에디터 로드 시작 ----------*/
                                                new Editor({
                                                    txHost: '', /* 런타임 시 리소스들을 로딩할 때 필요한 부분으로, 경로가 변경되면 이 부분 수정이 필요. ex) http://xxx.xxx.com */
                                                    txPath: '', /* 런타임 시 리소스들을 로딩할 때 필요한 부분으로, 경로가 변경되면 이 부분 수정이 필요. ex) /xxx/xxx/ */
                                                    txVersion: '5.3.0', /* 수정필요없음. */
                                                    txService: 'sample', /* 수정필요없음. */
                                                    txProject: 'sample', /* 수정필요없음. 프로젝트가 여러개일 경우만 수정한다. */
                                                    initializedId: "", /* 대부분의 경우에 빈문자열 */
                                                    wrapper: "tx_trex_container"+"", /* 에디터를 둘러싸고 있는 레이어 이름(에디터 컨테이너) */
                                                    form: 'tx_editor_form'+"", /* 등록하기 위한 Form 이름 */
                                                    txIconPath: "/editor/images/icon/", /*에디터에 사용되는 이미지 디렉터리, 필요에 따라 수정한다. */
                                                    txDecoPath: "/editor/images/deco/", /*본문에 사용되는 이미지 디렉터리, 서비스에서 사용할 때는 완성된 컨텐츠로 배포되기 위해 절대경로로 수정한다. */
                                                    canvas: {
                                                        styles: {
                                                            color: "#A8A8A8", /* 기본 글자색 */
                                                            fontFamily: "굴림", /* 기본 글자체 */
                                                            fontSize: "11pt", /* 기본 글자크기 */
                                                            backgroundColor: "#fff", /*기본 배경색 */
                                                            lineHeight: "1.5", /*기본 줄간격 */
                                                            padding: "8px" /* 위지윅 영역의 여백 */
                                                        }
                                                    },
                                                    sidebar: {
                                                        attacher: {
                                                            image: {
                                                            },
                                                            file: {
                                                            }
                                                        }
                                                    },
                                                    size: {
                                                        contentWidth: 768 /* 지정된 본문영역의 넓이가 있을 경우에 설정 */
                                                    }
                                                }).focusOnForm("tx_article_title");
                                                Editor.modify(
                                                {
                                                        content: "<p>하기 사항에 따라 입력해 주세요.</p><p>담당자 : </p><p>연락처 : </p><p>메일주소 : </p><p>제휴내용 : </p>",
                                                }
                                                        );
                                                /*-------- 에디터 로드 끝 ----------*/
                                            // ]]>
                                        </script>
                                        <!-- WYSIWYG Editor -->
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td class="txtH"><img src="/image/customer/inputTitle03.gif" border="0" /></td>
                                    <td class="txtInput">
                                        <input class="input_type1" type="file" name="upFile" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td class="txtH"><img src="/image/customer/inputTitle06.gif" border="0" /></td>
                                    <td class="txtInput">
                                        <input type="text" name="page_link" id="page_link" style="border:1px solid #cccccc; width:616px; height:17px;" value="" /><br />
                                        ※ 입력 예 : http://www.thefestival.co.kr/info/festival/1234/
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="2" bgcolor="#e6e6e6"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="20"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="uploadBtn" align="center">
                                        <a href="javascript:void(0);" onclick="saveContent();"><img src="/image/common/upload_btn.gif" border="0" alt="등록" /></a>
                                        <a href="javascript:history.back();"><img src="/image/common/cancel_btn.gif" border="0" alt="작성취소" /></a>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </td>
                </tr>
            </table>
            <!----- 주요 끝 ----->
            <div style="height:30px;"></div>
            <!----- 하단 풋터 ----->
            <div class="btm_footer">
                <div class="footer_menu">
                    <ul>
                        <li><a href="//www.thefestival.co.kr/design/company.html"><img src="/image/content/footer_txt1.gif" width="40" height="13" border="0" /></a></li>
                        <li><img src="/image/content/footer_bar.gif" width="1" height="11" /></li>
                        <li><a href="//www.thefestival.co.kr/customer/service.html"><img src="/image/content/footer_txt2.gif" width="73" height="13" border="0" /></a></li>
                        <li><img src="/image/content/footer_bar.gif" width="1" height="11" /></li>
                        <li><a href="//www.thefestival.co.kr/customer/privacy.html"><img src="/image/content/footer_txt3.gif" width="83" height="13" border="0" /></a></li>
                        <li><img src="/image/content/footer_bar.gif" width="1" height="11" /></li>
                        <li><a href="//www.thefestival.co.kr/customer/"><img src="/image/content/footer_txt4.gif" width="41" height="13" border="0" /></a></li>
                        <li><img src="/image/content/footer_bar.gif" width="1" height="11" /></li>
                        <li><a href="//www.thefestival.co.kr/customer/partner_write.html"><img src="/image/content/footer_txt5.gif" width="64" height="13" border="0" /></a></li>
                        <li><img src="/image/content/footer_bar.gif" width="1" height="11" /></li>
                        <li><a href="//www.thefestival.co.kr/customer/article.html"><img src="/image/content/footer_txt6.gif" width="39" height="13" border="0" /></a></li>
                        <li><img src="/image/content/footer_bar.gif" width="1" height="11" /></li>
                        <li><a href="//www.thefestival.co.kr/customer/noemail.html"><img src="/image/content/footer_txt7.gif" width="87" height="13" border="0" /></a></li>
                    </ul>
                </div>
                <div style="width:960px; height:10px; float:left"></div>
                <div class="footer_info">
                    <div class="footer_left"><img src="/image/content/footer_logo.gif" width="161" height="31" /></div>
                    <div class="footer_right"><div class="cop_txt1"><font color="#980404">•[더페스티벌]</font> <font color="#2EB7EA">•인터넷신문사업 등록번호:서울 아02000 •등록연월일:2012년 3월 6일 •발행인 겸 •편집인 서정선</font><br />•주소 : (07250) 서울시 영등포구 영중로 24길 10, 208호 더페스티벌 •대표전화:02-855-8843 <br />•사업자 등록번호:732-44-00154 • 개인정보관리책임자 민한기 •이메일:thefestival@hanmail.net •대표이사 서정선 </div>
                        <span class="cop_txt2">Copyright© 2009  <strong>THEFESTIVAL CORP</strong>., All Rights Reserved.</span> </div>
                </div>
            </div>

            <!-- 하단 -->

</body>
</html>